.story {
  &__pictures {
    background-color: $color-primary;
    grid-row: 3 / 4;
    grid-column: 2 / 7;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-row: 3 / 4;
    grid-column: 7 / -1;
  }
}
